.overlay {
    max-width: 1400px;
    height: 700px;
    margin: 0 auto;

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        .close {
            position: absolute;
            top: 0;
            right: 0;
            width: 42px;
            height: 42px;
            cursor: pointer;
        }

        &__img {
            //border: 1px solid red;
            display: grid;
            background-color: rgb(243, 243, 243);
           
            img {
                width: 300px;
                height: 350px;
                align-self: center;
                justify-self: center;
            }
        }

        &__info {
            //border: 1px solid green;
            padding: 50px;

           p {
                font-size: 20px;
                //font-weight: 400;
                font-family: 'Gantari', sans-serif;
                line-height: 20px;
                color:rgb(163, 163, 163)

           }

           .underline {
                text-decoration: underline;
           }

           h3 {
                font-size: 36px;
                font-weight: 600;
                font-family: 'Gantari', sans-serif;
                line-height: 36px;
                color:rgb(0, 0, 0)
           }

           article {
                border: 1px solid rgb(216, 216, 216);
                width: 100%;
                padding: 30px;
                margin-top: 50px;
                p {
                    font-size: 24px;
                    font-family: 'Gantari', sans-serif;
                    line-height: 24px;
                    color:rgb(87, 87, 87);
                    text-align: justify;
                }
           }

           button {
            margin-top: 25px;
            width: 150px;
            height: 40px;
            border-radius: 15px;

            a {
                text-decoration: none;
                font-size: 24px;
                font-family: 'Gantari', sans-serif;
                line-height: 24px;
                color:rgb(87, 87, 87);
            }
           }
           
        }
    }
}