.header {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;

  ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/bg.jpg');
    background-size: cover;
    filter: brightness(50%);
    z-index: -2;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .head-h1 {
      max-width: 100%;
      height: 66px;
    }

    &__input {
      max-width: 55%;
      display: flex;
      align-items: center;
      background-color: #fff;
      margin-top: 60px;
    }

    &__sort {
      margin-top: 30px;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      @media (max-width: 640px) {
        margin-bottom: 30px;
      }

      .sortItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 390px;
        @media (max-width: 1100px) {
          flex-direction: column;
        }
      }
    }
  }
}
